<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
{% include header.html %}
        <div id="wrapper">
            <section>
                <div class="content-wrapper">
                    <h1 class="one strike">The innovation</h1>
                    <p>
                        Rice cooker that drains water in a safe way; cooks healty and tasty meal in one go.
                        Great for caterers! Patented by National Innovation Foundation 2006
                    </p>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="two strike">The innovator</h1>
                    <p>Abdul Razzak: The Scientist a 43 year old elctrician from Madurai, with a passion for making "life convenient" and love for exprimentation. An observer who realised the problem faced by his wife and many others using tradtional cooking methods.</p>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="three strike">NAZARIYA</h1>
                    <p class="center">CONNECTS</p>
                    <p>
                        Grassroot innovators to urban audience
                    </p>

                    <div class="clearfix"></div>

                    <p class="center">CO-CREATES</p>
                    <ul>
                        <li>Market feasibility of innovations</li>
                        <li>Branding</li>
                        <li>Ecommerce sales</li>
                        <li>Opperation support</li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="four strike">CONNECT WITH US</h1>
                    <p class="center">
                        Email us at <a href="mailto:contact@nazariya.co.in">contact@nazariya.co.in</a><br>
                        for more information and order queries
                    </p>
                </div>
            </section>
        </div>
    {% include footer.html %}
    </body>
</html>
